In [50]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

Instructions

In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned on the class.
Here is the list of steps to be followed (building a simple model without balancing the data):
1. Import the required libraries and modules that you would need.
2. Read that data into Python and call the dataframe churnData.
3. Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. 
Convert this column into numeric type using pd.to_numeric function.
4. Check for null values in the dataframe. Replace the null values.
5. Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
5.1 Scale the features either by using normalizer or a standard scaler.
5.2 Split the data into a training set and a test set.
5.3 Fit a logistic regression model on the training data.
5.4 Check the accuracy on the test data.

Note: So far we have not balanced the data.

Managing imbalance in the dataset

6. Check for the imbalance.
7. Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
8. Each time fit the model and see how the accuracy of the model is.

In [51]:
# 2. Read that data into Python and call the dataframe churnData.
churnData = pd.read_csv('Customer-Churn.csv')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [52]:
churnData.shape

(7043, 16)

In [53]:
# 3. Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. 
# Convert this column into numeric type using pd.to_numeric function.

In [54]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [55]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'],errors='coerce')

In [56]:
churnData['TotalCharges'][488]

nan

In [57]:
#4. Check for null values in the dataframe. Replace the null values.

nulls_percent_df = pd.DataFrame(churnData.isna().sum()/len(churnData)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

         column_name  nulls_percentage
0             gender          0.000000
1      SeniorCitizen          0.000000
2            Partner          0.000000
3         Dependents          0.000000
4             tenure          0.000000
5       PhoneService          0.000000
6     OnlineSecurity          0.000000
7       OnlineBackup          0.000000
8   DeviceProtection          0.000000
9        TechSupport          0.000000
10       StreamingTV          0.000000
11   StreamingMovies          0.000000
12          Contract          0.000000
13    MonthlyCharges          0.000000
14      TotalCharges          0.001562
15             Churn          0.000000

In [58]:
churnData.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [59]:
churnData['TotalCharges'].value_counts()

20.20      11
19.75       9
20.05       8
19.65       8
19.90       8
           ..
6424.70     1
1474.35     1
6668.35     1
6096.90     1
5867.00     1
Name: TotalCharges, Length: 6530, dtype: int64

In [60]:
## I will include the mean values for the null values in column TotalCharges
churnData['TotalCharges'] = churnData['TotalCharges'].fillna(np.mean(churnData['TotalCharges']))

In [61]:
churnData.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [62]:
#5.  Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
#5.1  Scale the features either by using normalizer or a standard scaler.
#5.2  Split the data into a training set and a test set.
#5.3  Fit a logistic regression model on the training data.

In [63]:
numerical = churnData.select_dtypes(np.number)
numerical

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
0                 0       1           29.85         29.85
1                 0      34           56.95       1889.50
2                 0       2           53.85        108.15
3                 0      45           42.30       1840.75
4                 0       2           70.70        151.65
...             ...     ...             ...           ...
7038              0      24           84.80       1990.50
7039              0      72          103.20       7362.90
7040              0      11           29.60        346.45
7041              1       4           74.40        306.60
7042              0      66          105.65       6844.50

[7043 rows x 4 columns]

In [64]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(numerical)
numerical_std = scaler.transform(numerical)

In [65]:
numerical_std

array([[-0.43991649, -1.27744458, -1.16032292, -0.99497138],
       [-0.43991649,  0.06632742, -0.25962894, -0.17387565],
       [-0.43991649, -1.23672422, -0.36266036, -0.96039939],
       ...,
       [-0.43991649, -0.87024095, -1.1686319 , -0.85518222],
       [ 2.27315869, -1.15528349,  0.32033821, -0.87277729],
       [-0.43991649,  1.36937906,  1.35896134,  2.01391739]])

In [66]:
## build X and y
y = churnData['Churn']
X = numerical_std

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [68]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train, y_train)

In [69]:
#5.4 Check the accuracy on the test data.

predictions = classification.predict(X_test)
classification.score(X_test, y_test)

0.7989778534923339

In [70]:
pd.Series(predictions).value_counts()

No     1448
Yes     313
dtype: int64

In [71]:
y.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [72]:
5174/(5174+1869)

0.7346301292063041

In [73]:
## Model score is about the same as the imbalance noted in the data.  So even just selecting the majority class, the accuracy
## would be around 73%.  So not really a good model.

In [74]:
# Managing imbalance in the dataset

#6. Check for the imbalance.

#7. Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.

#8. Each time fit the model and see how the accuracy of the model is.

In [75]:
y.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [76]:
from sklearn.utils import resample

No = churnData[churnData['Churn'] == "No"]
Yes = churnData[churnData['Churn'] == "Yes"]

In [77]:
# downsampling

In [78]:
No_undersampled = resample(No, 
                                   replace=False, 
                                   n_samples = len(Yes))

In [79]:
print(No_undersampled.shape)
print(Yes.shape)

(1869, 16)
(1869, 16)

In [80]:
data_downsampled = pd.concat([No_undersampled, Yes], axis=0)

In [81]:
numerical = data_downsampled.select_dtypes(np.number)

In [82]:
# scaler = StandardScaler().fit(numerical)
numerical_std = scaler.transform(numerical)
#scaler based on original dataset

In [83]:
numerical_std.shape

(3738, 4)

In [84]:
## build X and y
y = data_downsampled['Churn']
X = numerical_std

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [86]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train, y_train)

In [87]:
# Check the accuracy on the test data.
predictions = classification.predict(X_test)
classification.score(X_test, y_test)

0.7529411764705882

In [88]:
# upsampling

In [89]:
Yes_oversampled = resample(Yes, 
                                  replace=True, 
                                  n_samples = len(No))

In [90]:
print(Yes_oversampled.shape)
print(No.shape)

(5174, 16)
(5174, 16)

In [91]:
data_upsampled = pd.concat([Yes_oversampled, No], axis=0)

In [92]:
numerical = data_upsampled.select_dtypes(np.number)

In [93]:
# scaler = StandardScaler().fit(numerical)
numerical_std = scaler.transform(numerical)

#scaler based on original dataset

In [94]:
numerical_std.shape

(10348, 4)

In [95]:
## build X and y
y = data_upsampled['Churn']
X = numerical_std

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [97]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train, y_train)

In [98]:
# Check the accuracy on the test data.
predictions = classification.predict(X_test)
classification.score(X_test, y_test)

0.7274835717046773